@font-face {
  font-family: "League-Spartain";
  src: local("League-Spartain"),
    url(./fonts/LeagueSpartan-Bold.otf) format("truetype");
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
